
#codebox{
	text-align:center;
	height:3em;
}
.codebox{
		background-color: #f44336; /*#00bfa5;*/
}

.codeboxfound{
	background-color:#00bfa5;
}

#interactive.viewport{
	height:40vw;
	width:60vw;
}

#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
    margin-left: -60vw;
}
#interactive.viewport canvas, video {
    float: left;
    width: 60vw;
    height: 40vw;
}
